<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flack</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/1077/1077909.svg">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', () => {
                    localStorage.setItem('channel', "");
                    document.querySelector("#dname").innerHTML = localStorage.getItem('display_name');

                    document.querySelector('#new').onclick = () => {
                        window.location = "/new_channel";
                    };

                    document.querySelectorAll('.channels').forEach(channel => {
                        channel.onclick = () => {
                            window.location = "/channel/" + channel.innerHTML;
                        };
                    });

                    socket.on('channels_new', data => {
                        document.querySelector('#new').remove();
                        const li = document.createElement('li');
                        li.innerHTML = data[(data.length-1)].name;
                        document.querySelector("#channels").append(li);
                        const nli = document.createElement('li');
                        nli.innerHTML = "<li id='new'>NEW CHANNEL</li>";
                        document.querySelector("#channels").append(nli);
                    });

                    document.querySelector('#change').onclick = () => {
                        window.location = "/";
                    };
                });
            });
        </script>
    </head>
    <body style="margin:30px">
    <div class="row">
        <div class="col-sm-6">
            <h3 id="choose">Choose a channel or create a new one</h3>
            <h3>Current channels</h3>
            <ul id="channels">
                {% for channel in channels %}
                    <li class="channels" id={{ channel.name }}>{{ channel.name }}</li>
                {% endfor %}
                <li id="new">NEW CHANNEL</li>
            </ul>
        </div>
        <div class="col-sm-6" >
            <h3 style="display: inline-block">Display name:<span style="display: inline-block" id="dname"></span></h3>
            <h3 id="change">Change the display name</h3>
        </div>
    </div>
    </body>
</html>