<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Display name</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/1077/1077909.svg">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script>
            if (localStorage.getItem('display_name')) {
                if (localStorage.getItem('channel')) {
                    window.location = "/channel/" + localStorage.getItem('channel');
                }
                else {
                    window.location = "/channels";
                }
            }


            document.addEventListener('DOMContentLoaded', () => {


                document.querySelector('#submit').disabled = true;

                document.querySelector('#name').onkeyup = () => {
                    document.querySelector('#submit').disabled = document.querySelector('#name').value.length <= 0;
                };

                document.querySelector('#form').onsubmit = () => {
                    let name = document.querySelector('#name').value;
                    localStorage.setItem('display_name', name);
                    window.location = "/channels";
                    return false
                };
            });
        </script>
    </head>
    <body style="margin:30px">
        <h1>Choose a display name</h1>
        <form id="form">
            <input id="name" autocomplete="off" autofocus placeholder="Name" type="text">
            <button type="submit" id="submit">Choose</button>
        </form>
    </body>
</html>
