<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New channel</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/1077/1077909.svg">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script>
            if (!localStorage.getItem('display_name')) {
                window.location = "/";
            }
            document.addEventListener('DOMContentLoaded', () => {

                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', () => {

                    document.querySelector('#submit').disabled = true;

                    document.querySelector('#name').onkeyup = () => {
                            document.querySelector('#submit').disabled = document.querySelector('#name').value.length <= 0;
                    };

                    document.querySelector('#submit').onclick = () => {
                        let name = document.querySelector('#name').value;
                        let r = 0;
                        document.querySelectorAll("li").forEach(li => {
                            if (li.innerHTML === name) {
                                r = 1;
                            }
                        });
                        if (r === 1) {
                            document.querySelector('#error').style.display = "inline-block";
                            return false;
                        }
                        socket.emit("channel_append", {'name': name});
                        return false;
                    };

                    document.querySelector("footer").onclick = () => {
                        window.location = "/channels"
                    }
                });
            });
        </script>
    </head>
    <body style="margin:30px">
        <h1>Choose a name for a channel</h1>
        <form id="form">
            <input id="name" autocomplete="off" autofocus placeholder="Name" name="name" type="text">
            <button id="submit">Choose</button>
        </form>
        <div id="error" style="display: none">This channel name is already taken.</div>
        <ul style="display:none">
            {% for channel in channels_list %}
                <li id={{ channel.name }}>{{ channel.name }}</li>
            {% endfor %}
        </ul>
        <footer style="margin-top:30px"><h5>Back</h5></footer>
    </body>
</html>
